<style>
  table th,table td  {padding-left: 10px;}
</style>
<div>
<table class="user_leave_status">
  <thead>
    <tr>
      <th>Leave type</th>
      <!-- <th>Allocated type</th> -->
      <th>Leaves Taken</th>
      <th>Leaves Balance</th>
    </tr>
  </thead>  
  <tbody>
    <% LeaveType.find(:all, :order => 'id').each do |account|%>
      <tr>
       <td><%=account.type_name %></td>
       <% actual =  LeaveTypeUser.by_user_and_leave_type(@user.id,account.id) %>
       <!-- <td><%#= actual.first.leave_count if actual.first %>
       </td> -->
       <% taken =  User.get_uniq_leaves_per_user(@user.id,account.id) %>
       <td><%= !taken.blank? ? taken.first.days : "0" %></td>
       <td><%= actual.first.present? ? actual.first.leave_count - (!taken.blank? ? taken.first.days : 0) : 0 %></td>
      </tr>  
    <%end%>
  </tbody>
</table>
<br/>
<%if @user.leaves.present?%>
  <h5>Last leave taken :</h5>
  <table class="user_leave_status">
    <thead>
    <tr>   
      <th>From date</th>
      <th>To date</th>
      <th>Days</th>
      <th>Reason</th>
      <th>Leave Type</th>
    </tr>
  </thead>
  <tbody>
    <% last_three = Leave.where(:user_id => @user.id).last(3) %>
    <% last_three.each do |u| %>
      <tr>  
        <td><%= u.from_date.strftime("%d %b %y") %></td>
        <td><%= u.to_date.strftime("%d %b %y") %></td>
        <td><%= u.days %></td>
        <td style="text-align: left"><%= u.reason %></td>
        <td><%= u.leave_type.type_name %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<%end%>
</div>
<% unless last_three.nil? %>
  <div class="fr" style="margin-top: 10px">
    <% if @user %>
    <%= link_to "Show History","/admin/users/#{@user.id}"%>
  <% end %>
  </div>
<% end %>
