<div align="center">
<%= form_for @user, :url => save_password_path, :html => { :method => :put, :class => "form-horizontal well", :style => "width:350px;text-align:left" } do |f| %>
<% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.label :password %><%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><%= f.password_field :password_confirmation %></div><br />

  <div><%= f.submit "Update" , :class=>"btn btn-primary"%>
  <%#= link_to t('.back', :default => t("helpers.links.back")),
              home_path, :class => 'btn'  %></div>
<% end %>
</div>
