<%= javascript_include_tag 'jquery',"bootstrap-colorpicker" %>
<script>
$(function(){
$('#leave_type_color').attr('value','#e81456');
	//$('.colorpicker').colorpicker({
	//	format: 'hex'
	//});
	// Events demo
       $('#cp3').colorpicker({format: 'hex',color:'#e81456'})
          // .on('change.color', function(evt, color){
          //      // alert("test1")
          //     $('#leave_type_color').attr('style','color:'+color);
          // })
          //.on('mouseover.color', function(evt, color){
          // alert("test2")
          //    // $('#title').attr('style','background-color:'+color);
         //})
	
});
     
</script>

<%= form_for @leave_type ,:html => { :class => 'form-horizontal well' } do |f| %>
  <% if @leave_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_type.errors.count, "error") %> prohibited this leave_type from being saved:</h2>

      <ul>
      <% @leave_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>	
  
   <div class="control-group">
    <label class='control-label'>Leave Type</label>
    <div class="controls">
     <%= f.text_field :option, :class => 'text_field',:required => "true" %>
    </div>
  </div>
  
   <div class="control-group">
    <label class='control-label'>Color</label>
    <div class="controls">
     <div class="input-append color" data-color="#e81456" data-color-format="hex" id="cp3">
			<%= f.text_field :color, :class => 'colorpicker text_field',:required => "true", :readonly =>"true" , :style=>"width:100px"%>
			<span class="add-on" style="margin-top: 1px;"><i style="background-color: #e81456;"></i></span>			
			</div>		


    </div>
  </div>
  

   <div class="control-group">
    <label class='control-label'>Count</label>
    <div class="controls">
         <%= f.text_field :leave_count, :class => 'text_field',:required => "true"%>


    </div>
    </div>
    
   <div class="control-group">
    <label class='control-label'>Description</label>
    <div class="controls">
         <%= f.text_area :description, :class => 'text_field',:required => "true", :rows=>3 %>
    </div>
    </div>
  
   <div class="control-group">
    <label class='control-label'>Optional</label>
    <div class="controls">  
      <%= f.radio_button :is_optional, true %> Yes
      <%= f.radio_button :is_optional, false%> No
    </div>
    </div>
 
  
  <div class="form-actions">
     <%= f.submit "Submit", :class => 'btn btn-primary' %>
       <%= link_to t('.cancel',
                      :default => t("helpers.links.cancel")),
                      leave_types_path, :class => 'btn' %>

  </div>
  
<% end %>
