<table class="table table-striped" id="leave_tbl">
  <thead>
  <tr>
    <th>User</th>
    <th>From date</th>
    <th>To date</th>
    <th>Days</th>
    <th>Reason</th>
    <th>Leave Type</th>
    <th></th>
  
  </tr>
</thead>
<tbody>
<% @leaves.each do |leave| %>
<%#=leave.class%>
  <tr>
    <td><%= leave.user.name %></td>
    <td><%= leave.from_date.strftime("%d %b %y") %></td>
    <td><%= leave.to_date.strftime("%d %b %y") %></td>
    <td><%= leave.days %></td>
    <td><%= leave.reason %></td>
    <td><%= leave.leave_type.type_name %></td>
    <td>
	    <%#= link_to 'Show', leave , :class => 'btn btn-mini'%>
	    <%= link_to 'Edit', edit_leafe_path(leave), :class => 'btn btn-mini' %>
	    <%= link_to 'Destroy', leave, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<br />

<%= link_to 'New Leave', new_leafe_path,  :class => 'btn btn-primary'%>
