<%= form_for :user, :url => {:action => "create"},:html => { :class => 'form-horizontal well' } do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul style="color:red;">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
   <div class="control-group">
    <label class='control-label'>Name</label>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field',:required => "true" ,:onkeyup=>"this.value=this.value.replace (/(^\s*)/gi, '').replace (/[ ]{2,}/gi,' ')"%>
    </div>
  </div>
 
   <div class="control-group">
    <label class='control-label'>Email</label>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field',:required => "true",:onkeyup=>"this.value=this.value.replace (/(^\s*)/gi, '').replace (/[ ]{2,}/gi,' ')" %>
    </div>
  </div>
  <% i=1  %>
    <% LeaveType.find(:all, :order => 'id').each do |account|%>
     <div class="control-group">
       <% unless account.is_optional? %>
         <label class='control-label'><%=account.type_name %> </label>
           <div class="controls"> 
           <%#=lvt.select :leave_type_id, LeaveType.find(:all, :order => 'id').collect {|c| [ , c.id ]}, {:include_blank => '- Select Leave Type -'},  :required => "true"%> 
            <%#= hidden_field_tag "leave_type_id", :value=>account.id %>   


		<%= text_field_tag "leave_type_users[#{account.id}][leave_count]", "",:class => 'text_field',:required => "true" ,:onkeyup=>"this.value=this.value.replace (/(^\s*)/gi, '').replace (/[ ]{2,}/gi,' ')", :style=>"width:50px", :onkeypress=>"return numbersonly(event);", :onblur => 'chk_assign_leave(this," ' +  account.leave_count.to_s  + ' ")', :required => true %>
		
		&nbsp;&nbsp;&nbsp;   
		<span style="font-style:italic">(max: <%=account.leave_count%>)</span>
		<%#= select_year(0, :prompt => 'Year',:start_year => Time.now.year, :end_year => Time.now.year+14,:name=>"year", 'data-encrypted-name' =>"year" ,:html_options=>{:class=>"drop_down",:style=>"width:50px;"})%>
		<%#= select_tag "credit", "",((0..7)) %>

	   </div>
         <% else %>
            <label class='control-label'>&nbsp;</label>
            <%= check_box_tag "leave_type_users[#{account.id}][leave_count]", account.leave_count%>
            <%=account.option %> 
         <% end %>    
       
     </div>
     <%i+=1%>   
    <%end%>     

  
  <div class="form-actions">
     <%= f.submit "Submit", :class => 'btn btn-primary' %>
     <%= link_to t('.cancel',
              :default => t("helpers.links.cancel")),
              admin_users_path, :class => 'btn' %>

  </div>
 
 
 
<% end %>
