<h3>Leave history of '<%=@user.name%>'</h3>

<div class="form_con pad_2">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Leave type</th>
      <!-- <th>Allocated type</th> -->
      <th>Leave taken</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
     <% @leaves.each do |lv|%>
      <tr> 
        <td><%= lv.leave_type.option %></td>
	<!-- <td></td>       -->
	<td><%=lv.days%></td>      
	<td><%= Leave.calculate_leave_remaining(lv.leave_type.leave_count,lv.days)%></td>      
      </tr>
     <%end%>
  </tbody>
</table>
</div>
<br/>
               
<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_users_path, :class => 'btn btn-primary'  %>
