<h3>Leave history of '<%=@user.name%>'</h3>

<div class="form_con pad_2">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Leave type</th>
      <th>Allocated type</th> 
      <th>Leave taken</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% LeaveType.find(:all, :order => 'id').each do |account|%>
      <tr>
       <td><%=account.option %></td>
       <% actual =  LeaveTypeUser.by_user_and_leave_type(@user.id,account.id) %>
       <td><%= actual.first.leave_count if actual.first %>
       <%#= alc.first.leave_count %>
       </td>
       <% taken =  User.get_uniq_leaves_per_user(@user.id,account.id) %>
       <td><%= !taken.blank? ? taken.first.days : "0" %></td>
       <td><%= actual.first.leave_count - (!taken.blank? ? taken.first.days : 0) if actual.first %></td>
      </tr>  
    <%end%>
  </tbody>
</table>
</div>
<br/>
               
<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_users_path, :class => 'btn btn-primary'  %>
